.jfx-combo-box {
  -fx-font-family: sans-serif;
  -fx-text-fill: #000000;
  -fx-font-size: 12px;
  -fx-font-style: normal;
  -jfx-focus-color: #FF6600;
  -jfx-unfocus-color: #000000;
  -jfx-label-float: true; }
  .view-cadastro-empresa .jfx-combo-box, .view-cadastro-produto .jfx-combo-box {
    -fx-font-size: 10px; }

.view-login {
  -fx-background-color: transparent;
  -fx-background-size: cover;
  -fx-background-image: url("/image/painel/login.png"); }

.certificado_digital {
  -fx-background-color: transparent;
  -fx-background-size: cover;
  -fx-background-image: url("/image/painel/certificadosDigitais.png"); }

.list-view {
  -fx-background-color: -fx-box-border, -fx-control-inner-background; }
  .list-view:focused {
    -fx-border-color: #FF6600; }
  .list-view .list-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-alignment: center-left;
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
    -fx-padding: 5; }
    .list-view .list-cell:odd {
      -fx-background-color: derive(-fx-control-inner-background, -12%); }
    .list-view .list-cell:filled:selected {
      -fx-background-color: -fx-selection-bar;
      -fx-text-fill: -fx-selection-bar-text; }
      .list-view .list-cell:filled:selected:hover {
        -fx-background-color: -fx-selection-bar;
        -fx-text-fill: -fx-selection-bar-text; }
    .list-view .list-cell:filled:hover {
      -fx-background-color: -fx-cell-hover-color;
      -fx-text-fill: -fx-text-inner-color; }
  .list-view.endereco .list-cell {
    -fx-pref-height: 25;
    -fx-background-color: -fx-control-inner-background;
    -fx-text-fill: #000000;
    -fx-padding: 0 0 0 3; }
    .list-view.endereco .list-cell:odd {
      -fx-background-color: derive(-fx-control-inner-background, -12%); }
    .list-view.endereco .list-cell:filled:selected {
      -fx-background-color: -fx-selection-bar;
      -fx-text-fill: -fx-selection-bar-text; }

.label {
  -fx-font-family: sans-serif;
  -fx-text-fill: #000000;
  -fx-font-size: 10px;
  -fx-font-style: normal; }
  .label.usuario_login {
    -fx-background-image: url("/image/ico/ic_usuario_circulo_black_24dp.png"); }
  .label.usuario_senha {
    -fx-background-image: url("/image/ico/ic_password_black_24dp.png"); }
  .label.lbl_btn_retrai_menu_view_principal {
    -fx-background-image: url("/image/ico/ic_remove_quadrado_black_24dp.png"); }
  .label.lbl_btn_expande_menu_view_principal {
    -fx-background-image: url("/image/ico/ic_adiciona_quadrado_black_24dp.png"); }
  .label.lbl_img_fundo_principal {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("/image/painel/principal.png"); }
  .label.copyright {
    -fx-alignment: bottom-right;
    -fx-padding: 0 10;
    -fx-font-family: sans-serif;
    -fx-text-fill: #FF6600;
    -fx-font-size: 12px;
    -fx-opacity: 0.6; }
  .label.lbl_titulo {
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-alignment: Center; }
  .label.lbl_menu_principal {
    -fx-padding: 0 10;
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #FF6600;
    -fx-font-size: 16px;
    -fx-font-weight: bold; }
  .label.lbl_negrito {
    -fx-font-weight: bold; }
  .label.lbl_h1 {
    -fx-font-size: 24px; }
  .label.lbl_h2 {
    -fx-font-size: 22px; }
  .label.lbl_h3 {
    -fx-font-size: 18px; }
  .label.lbl_h4 {
    -fx-font-size: 16px; }
  .label.lbl_h5 {
    -fx-font-size: 12px; }
  .label.lbl_h6 {
    -fx-font-size: 10px; }
  .label.lbl_ico_cliente {
    -fx-background-image: url("/image/ico/ic_cliente_loja_orange_24dp.png");
    -fx-pref-height: 24; }
  .label.lbl_ico_fornecedor {
    -fx-background-image: url("/image/ico/ic_fornecedor_orange_24dp.png");
    -fx-pref-height: 24; }
  .label.lbl_ico_transportadora {
    -fx-background-image: url("/image/ico/ic_transportadora_caminhao_orange_24dp.png");
    -fx-pref-height: 24; }

.button {
  -fx-max-height: 30px;
  -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6), linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%), linear-gradient(#dddddd 0%, #f6f6f6 50%);
  -fx-background-radius: 8, 7, 6;
  -fx-background-insets: 0, 1, 2;
  -fx-text-fill: black;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1); }
  .button:hover {
    -fx-background-color: #FF6600; }

.btn_ok {
  -fx-pref-width: 90; }
  .btn_ok > .label {
    -fx-graphic: url("/image/ico/ic_check_circulo_black_24dp.png"); }

.btn_cancel {
  -fx-pref-width: 100; }
  .btn_cancel > .label {
    -fx-graphic: url("/image/ico/ic_cancel_circulo_black_24dp.png"); }

.jfx-password-field {
  -fx-font-family: sans-serif;
  -fx-text-fill: #000000;
  -fx-font-size: 12px;
  -fx-font-style: normal;
  -jfx-focus-color: #FF6600;
  -jfx-unfocus-color: #000000;
  -jfx-label-float: true;
  -fx-pref-height: 20px; }
  .jfx-password-field .label {
    -fx-font-size: 12px; }
  .jfx-password-field :focused {
    -fx-background-color: #ff6600;
    -fx-opacity: 0.5; }

.jfx-tool-bar {
  -fx-background-color: transparent;
  -fx-font-family: sans-serif;
  -fx-text-fill: #000000;
  -fx-font-size: 12px;
  -fx-alignment: center-left; }
  .jfx-tool-bar .ico-relogio {
    -fx-padding: 1 10;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-background-image: url("/image/ico/ic_relogio_orange_18dp.png");
    -fx-background-repeat: no-repeat; }
  .jfx-tool-bar .hora {
    -fx-padding: 2 4;
    -fx-font-size: 12px;
    -fx-alignment: center-right; }
  .jfx-tool-bar .status-bar-usuario-logado {
    -fx-pref-width: 250px;
    -fx-padding: 2 10 2 5;
    -fx-font-size: 12px; }
  .jfx-tool-bar .status-bar-center {
    -fx-padding: 2 10 2 5;
    -fx-font-size: 12px;
    -fx-alignment: center-left; }

.dialog-pane {
  -fx-pref-width: 570px;
  -fx-pref-height: 150px;
  -fx-background-color: transparent; }
  .dialog-pane .header-panel {
    -fx-background-color: transparent; }
    .dialog-pane .header-panel .label {
      -fx-text-fill: #ffffff;
      -fx-font-size: 16px;
      -fx-font-weight: bold;
      -fx-font-style: italic; }
  .dialog-pane .content.label {
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold; }
  .dialog-pane .button-bar {
    -fx-background-color: transparent; }
  .dialog-pane.dialog_yes_no, .dialog-pane.dialog_ok, .dialog-pane.dialog_combo_box, .dialog-pane.dialog_text_box {
    -fx-pref-width: 570px;
    -fx-pref-height: 150px;
    -fx-background-image: url("/image/painel/dialogPane.png"); }
  .dialog-pane.dialog_text_field_e_combo_box {
    -fx-pref-width: 570px;
    -fx-pref-height: 166px;
    -fx-background-image: url("/image/painel/dialogPane_text_field_e_combo_box.png"); }
  .dialog-pane.dialog-pane-transparent {
    -fx-pref-width: 450px;
    -fx-pref-height: 320px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 8; }
    .dialog-pane.dialog-pane-transparent .label.msg {
      -fx-wrap-text: true;
      -fx-padding: 15 0 2 0;
      -fx-alignment: center-left;
      -fx-pref-width: 435px;
      -fx-text-fill: #e9e9e9;
      -fx-font-size: 16px;
      -fx-font-weight: bold; }
    .dialog-pane.dialog-pane-transparent .progress-bar {
      -fx-pref-width: 430px; }
    .dialog-pane.dialog-pane-transparent .jfx-combo-box {
      -fx-pref-width: 550px; }
    .dialog-pane.dialog-pane-transparent .jfx-text-field {
      -fx-pref-width: 530px; }

.tooltip {
  -fx-background-color: #e9e9e9;
  -fx-font-family: sans-serif;
  -fx-text-fill: #000000;
  -fx-font-size: 12px;
  -fx-alignment: center-left;
  -fx-background-radius: 7px;
  -fx-padding: 0.667em 0.75em 0.667em 0.75em;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 3); }

.jfx-text-field {
  -fx-alignment: center-left;
  -fx-font-family: sans-serif;
  -fx-font-style: normal;
  -fx-text-fill: #000000;
  -fx-font-size: 10px;
  -jfx-focus-color: #FF6600;
  -jfx-unfocus-color: #000000;
  -jfx-label-float: true; }
  .jfx-text-field.a-direita {
    -fx-alignment: center-right; }
  .jfx-text-field .campo-total {
    -fx-font-size: 16px; }
  .jfx-text-field :disabled {
    -fx-opacity: 1.0; }
  .jfx-text-field :focused {
    -fx-background-color: #ff6600;
    -fx-opacity: 0.5; }

.jfx-check-box {
  -fx-font-family: sans-serif;
  -fx-font-style: normal;
  -fx-text-fill: #000000;
  -fx-font-size: 10px;
  -jfx-checked-color: #ff6600;
  -jfx-unchecked-color: #000000; }
  .jfx-check-box .lbl_ico_cliente {
    -fx-background-image: url("/image/ico/ic_cliente_loja_black_24dp.png"); }
  .jfx-check-box .lbl_ico_fornecedor {
    -fx-background-image: url("/image/ico/ic_fornecedor_black_24dp.png"); }
  .jfx-check-box .lbl_ico_transportadora {
    -fx-background-image: url("/image/ico/ic_transportadora_caminhao_black_24dp.png"); }
  .jfx-check-box:selected .lbl_ico_cliente {
    -fx-background-image: url("/image/ico/ic_cliente_loja_orange_24dp.png"); }
  .jfx-check-box:selected .lbl_ico_fornecedor {
    -fx-background-image: url("/image/ico/ic_fornecedor_orange_24dp.png"); }
  .jfx-check-box:selected .lbl_ico_transportadora {
    -fx-background-image: url("/image/ico/ic_transportadora_caminhao_orange_24dp.png"); }
  .jfx-check-box :disabled {
    -fx-opacity: 1.0; }

.certificado_digital_valido {
  -fx-text-fill: #0091ff; }

.certificado_digital_invalido {
  -fx-text-fill: #ff1c00; }

.progress-bar .bar {
  -fx-background-color: #FF6600; }

.progress-indicator {
  -fx-progress-color: #FF6600; }
  .progress-indicator .indicator {
    -fx-background-color: transparent; }

.jfx-tree-view {
  -fx-font-family: sans-serif;
  -fx-text-fill: #e9e9e9;
  -fx-font-size: 12px; }
  .jfx-tree-view .column-header {
    -fx-background-color: transparent; }
    .jfx-tree-view .column-header .label {
      -fx-font-size: 16px;
      -fx-font-family: sans-serif; }
  .jfx-tree-view:focused {
    -fx-background-color: -fx-focus-color; }

.tree-table-view .column-header {
  -fx-pref-height: 24; }
  .tree-table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-font-family: sans-serif;
    -fx-text-fill: #FF6600;
    -fx-font-size: 10px;
    -fx-padding: 0 4 0 0; }
.tree-table-view .tree-table-cell {
  -fx-background-color: transparent;
  -fx-alignment: center-left;
  -fx-font-family: sans-serif;
  -fx-font-size: 10px;
  -fx-text-fill: #000000;
  -fx-padding: 0 4 0 0; }
  .tree-table-view .tree-table-cell.chkbox {
    -fx-alignment: center; }
.tree-table-view .tree-table-row-cell {
  -fx-pref-height: 20;
  -fx-background-color: #e9e9e9;
  -fx-text-fill: #000000; }
  .tree-table-view .tree-table-row-cell:odd {
    -fx-background-color: #e9e9e9, derive(#e9e9e9, -12%); }
  .tree-table-view .tree-table-row-cell:selected {
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text; }
  .tree-table-view .tree-table-row-cell:empty {
    -fx-background-color: transparent; }
    .tree-table-view .tree-table-row-cell:empty .table-cell {
      -fx-border-width: 0; }

.jfx-date-picker, .date-picker {
  -fx-font-family: sans-serif;
  -fx-text-fill: #000000;
  -fx-font-size: 12px;
  -fx-font-style: normal;
  -jfx-focus-color: #FF6600;
  -jfx-unfocus-color: #000000;
  -jfx-label-float: true; }

/*# sourceMappingURL=sidtm.css.map */
