.jfx-combo-box {
  -fx-font-family: $fontFamily;
  -fx-text-fill: $sisColor_black;
  -fx-font-size: $fontSizeh5;
  -fx-font-style: normal;

  -jfx-focus-color: $corJFX-Focus;
  -jfx-unfocus-color: $corJFX-Unforcus;
  -jfx-label-float: true;

  .view-cadastro-empresa &, .view-cadastro-produto & {
    -fx-font-size: $fontSizeh6;
  }
}






