
.list-view {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
  &:focused {
    -fx-border-color: $corPricipal;
  }

  .list-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-alignment: center-left;
    -fx-font-family: $fontFamily;
    -fx-font-size: $fontSizeh5;
    -fx-text-fill: $sisColor_black;
    -fx-padding: 5;

    &:odd {
      -fx-background-color: derive(-fx-control-inner-background, -12%);
    }
    &:filled:selected {
      -fx-background-color: -fx-selection-bar;
      -fx-text-fill: -fx-selection-bar-text;
      &:hover {
        -fx-background-color: -fx-selection-bar;
        -fx-text-fill: -fx-selection-bar-text;
      }
    }
    &:filled:hover {
      -fx-background-color: -fx-cell-hover-color;
      -fx-text-fill: -fx-text-inner-color;
    }
  }

  &.endereco {
    .list-cell {
      -fx-pref-height: 25;
      -fx-background-color: -fx-control-inner-background;
      -fx-text-fill: $sisColor_black;
      -fx-padding: 0 0 0 3;
      &:odd {
        -fx-background-color: derive(-fx-control-inner-background, -12%);
      }
      &:filled:selected {
        -fx-background-color: -fx-selection-bar;
        -fx-text-fill: -fx-selection-bar-text;
      }
    }
  }

}

