.jfx-password-field {
  -fx-font-family: $fontFamily;
  -fx-text-fill: $sisColor_black;
  -fx-font-size: $fontSizeh5;
  -fx-font-style: normal;

  -jfx-focus-color: $corJFX-Focus;
  -jfx-unfocus-color: $corJFX-Unforcus;
  -jfx-label-float: true;
  -fx-pref-height: 20px;

  .label {
    -fx-font-size: $fontSizeh5;
  }

  :focused {
    -fx-background-color: #ff6600;
    -fx-opacity: 0.5;
  }

}