.jfx-check-box {

  -fx-font-family: $fontFamily;
  -fx-font-style: normal;
  -fx-text-fill: $sisColor_black;
  -fx-font-size: $fontSizeh6;

  -jfx-checked-color: #ff6600;
  -jfx-unchecked-color: #000000;

  .lbl_ico_cliente {
    -fx-background-image: url($icoClientesLoja);
  }

  .lbl_ico_fornecedor {
    -fx-background-image: url($icoFornecedor);
  }

  .lbl_ico_transportadora {
    -fx-background-image: url($icoTransportadora);
  }

  &:selected {
    .lbl_ico_cliente {
      -fx-background-image: url($icoClientesLojaOrange);
    }
    .lbl_ico_fornecedor {
      -fx-background-image: url($icoFornecedorOrange);
    }
    .lbl_ico_transportadora {
      -fx-background-image: url($icoTransportadoraOrange);
    }
  }

  :disabled {
    -fx-opacity: 1.0;
  }

}