.view-login {
  -fx-background-color: transparent;
  -fx-background-size: cover;
  -fx-background-image: url($painelViewLogin);
}

.certificado_digital {
  -fx-background-color: transparent;
  -fx-background-size: cover;
  -fx-background-image: url($painelViewCertificadoDigital);
}

