$sisPathIcone: "../../image/ico/";
$sisPathPainel: "../../image/painel/";
$sisLoading: $sisPathIcone + "img_loading_coffe_1.gif";

$painelViewLogin: $sisPathPainel + "login.png";
$painelViewPrincipal: $sisPathPainel + "principal.png";
$painelViewCertificadoDigital: $sisPathPainel + "certificadosDigitais.png";
$painelDialogPane: $sisPathPainel + "dialogPane.png";
$painelDialogPane_YES_NO: $painelDialogPane;
$painelDialogPane_text_field_e_combo_box: $sisPathPainel +  "dialogPane_text_field_e_combo_box.png";

$sisHeightDialogPane_Loading: 320px;
$sisWidthDialogPane_Loading: 450px;
$sisHeightDialogPane: 150px;
$sisWidthDialogPane: 570px;
$sisHeightDialogPane_YES_NO: $sisHeightDialogPane;
$sisWidthDialogPane_YES_NO: $sisWidthDialogPane;
$sisHeightDialogPane_text_field_e_combo_box: 166px;
$sisWidthDialogPane_text_field_e_combo_box: 570px;

$icoBotaoOK: $sisPathIcone + "ic_check_circulo_black_24dp.png";
$icoBotaoCancel: $sisPathIcone + "ic_cancel_circulo_black_24dp.png";

$icoUsuarioLogin: $sisPathIcone + "ic_usuario_circulo_black_24dp.png";
$icoSenha: $sisPathIcone + "ic_password_black_24dp.png";
$icoCirculoNegativo: $sisPathIcone + "ic_remove_quadrado_black_24dp.png";
$icoCirculoPositivo: $sisPathIcone + "ic_adiciona_quadrado_black_24dp.png";
$icoRelogio: $sisPathIcone + "ic_relogio_orange_18dp.png";
$icoClientesLoja: $sisPathIcone + "ic_cliente_loja_black_24dp.png";
$icoClientesLojaOrange: $sisPathIcone + "ic_cliente_loja_orange_24dp.png";
$icoFornecedor: $sisPathIcone + "ic_fornecedor_black_24dp.png";
$icoFornecedorOrange: $sisPathIcone + "ic_fornecedor_orange_24dp.png";
$icoTransportadora: $sisPathIcone + "ic_transportadora_caminhao_black_24dp.png";
$icoTransportadoraOrange: $sisPathIcone + "ic_transportadora_caminhao_orange_24dp.png";

$sisColor_transparent: transparent;
$sisColor_cafe-perfeito: #FF6600;
$sisColor_red: #F44336;
$sisColor_pink: #E91E63;
$sisColor_purple: #9C27B0;
$sisColor_deep-purple: #673AB7;
$sisColor_indigo: #3F51B5;
$sisColor_blue: #2196F3;
$sisColor_light-blue: #03A9F4;
$sisColor_cyan: #00BCD4;
$sisColor_teal: #009688;
$sisColor_green: #4CAF50;
$sisColor_light-green: #8BC34A;
$sisColor_lime: #CDDC39;
$sisColor_yellow: #ffe821;
$sisColor_amber: #FFC107;
$sisColor_orange: #FF9800;
$sisColor_deep-orange: #FF5722;
$sisColor_brown: #795548;
$sisColor_grey: #9E9E9E;
$sisColor_blue-grey: #607D8B;
$sisColor_black: #000000;
$sisColor_white: #ffffff;
$sisColor_whiteblack: #e9e9e9;
$sisCorCertValido: #0091ff;
$sisCorCertInValido: #ff1c00;

$corPricipal: $sisColor_cafe-perfeito;
$corPricipalBorda: $sisColor_yellow;
$corBackground: $sisColor_whiteblack;
$corTransparenciaPreta: rgba(0, 0, 0, 0.5);
$corTransparenciaBranca: rgba(255, 255, 255, 0.5);

$corJFX-Focus: $corPricipal;
$corJFX-Unforcus: $sisColor_black;

$fontFamily: sans-serif;
$fontSizeh6: 10px;
$fontSizeh5: 12px;
$fontSizeh4: 16px;
$fontSizeh3: 18px;
$fontSizeh2: 22px;
$fontSizeh1: 24px;
